body
{
	font-family:calibri;
	background-image: linear-gradient(to right, #512e5f , #e74c3c);
}
#main_form_div
{
	height:420px;
	width:33%;
	margin-left:33%;
	margin-top:130px;
	background-color:white;
	border-radius:6px;
	position:absolute;
}
#head_div
{
	height:35px;
	width:100%;
	color:white;		
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-color:#17202a;
	position:absolute;
}
#label
{
	margin-top:8px;
	font-size:15px;
	font-weight:bold;
	margin-left:32%;
	position:absolute;
}
#form_div
{
	margin-top:60px;
	margin-left:5%;
}
#name
{
	height:35px;
	width:62%;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#profile
{
	height:35px;
	width:21%;
	margin-left:68%;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#mail
{
	height:35px;
	width:52%;
	margin-top:40px;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#post
{
	height:35px;
	width:31%;
	margin-left:58%;
	margin-top:40px;
	border-radius:3px;
	padding: 10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#branch
{
	height:35px;
	width:42%;
	margin-top:80px;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#phone
{
	height:35px;
	width:42%;
	margin-top:80px;
	margin-left:47%;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#pass
{
	height:35px;
	width:42%;
	margin-top:120px;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#confirm
{
	height:35px;
	width:42%;
	margin-top:120px;
	margin-left:47%;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#qualify
{
	height:35px;
	width:42%;
	margin-top:160px;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#address
{
	height:35px;
	width:42%;
	margin-top:160px;
	margin-left:47%;
	border-radius:3px;
	padding:10px;
	color:#717d7e;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#fact_reg_submit
{
	height:40px;
	width:24%;
	border-radius:3px;
	border:none;
	font-weight:bold;
	color:white;
	background-color:#e74c3c;
	margin-top:200px;
	position:absolute;
}
#login_account
{
	margin-top:190px;
	margin-left:30%;
	position:absolute;
}