*
{
	margin:0px;
	padding:0px;
}
body
{
	font-family:calibri;
}
#header_div
{
	height:110px;
	width:100%;
	background-color: #1c2833;
}
#div_logo
{
	height:110px;
	width:130px;
	position:absolute;
}
#logo
{
	height:105px;
	width:140px;
	position:absolute;
}
#web-heading
{
	height:110px;
	width:37%;
	margin-left:8.5%;
	font-size:55px;
	font-weight:bold;
	position:absolute;
}
#head_label
{
	margin-left:3%;
	margin-top:36px;
	background:-webkit-linear-gradient(right, #0091ea, #00e5ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position:absolute;
}
#but_side
{
	height:110px;
	width:17%;
	margin-left:81%;
	position:absolute;
}
#reg_but
{
	height:45px;
	width:40%;
	left:5%;
	background-color:#00e676;
	color:white;
	margin-top:30px;
	font-weight:bold;
	border:none;
	border-radius:4%;
	position:absolute;
}
#log_but
{
	height:45px;
	width:40%;
	background-color:#ff6e40;
	color:white;
	margin-top:30px;
	margin-left:53%;
	font-weight:bold;
	border:none;
	border-radius:4%;
	position:absolute;
}

/* Naivgation Bar css*/
#navigation_bar
{
	width:100%;
}
#navigation_bar ul
{
	list-style:none;
	font-family:calibri;
	font-weight:bold;
}
#navigation_bar ul li
{
	background-color:#17202a;
	width:12.5%;
	height:50px;
	line-height:50px;
	text-align:center;
	float:left;
	font-size:18px;
	position:relative;	
}
#navigation_bar ul li:hover
{
	background-color:#0288d1;
}
#navigation_bar ul li a
{
	text-decoration:none;
	color:white;
}
#navigation_bar ul ul
{
	display:none;
}
#navigation_bar ul li:hover > ul
{
	display:block;
}
#navigation_bar ul ul ul
{
	margin-left:190px;
	top:0px;
	width:100%;
	position:absolute;
}
#navigation_bar ul ul li
{
	width:100%;
	font-size:16px;
}

