body
{
	background-image: linear-gradient(to right, #3498DB, #76D7C4);
	font-family:calibri;
}
#location_div
{
	border-radius:8px;
	width:80%;
}
#label_div
{
	margin-top:20px;
	width:100%;
	border-bottom:5px solid white;
}
label
{
	font-size:30px;
	color:white;
	font-weight:bold;
	position:absoltue;
}
#map
{
	height:620px;
	margin-left:3%;
	width:94%;
}