body
{
	font-family:calibri;
	background-image: linear-gradient(to right, #512e5f , #e74c3c);
}
#main_form_div
{
	height:410px;
	width:33%;
	margin-left:33%;
	margin-top:130px;
	background-color:white;
	border-radius:6px;
	position:absolute;
}
#head_div
{
	height:35px;
	width:100%;
	color:white;		
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	background-color:#17202a;
	position:absolute;
}
#label
{
	margin-top:8px;
	font-size:15px;
	font-weight:bold;
	margin-left:32%;
	position:absolute;
}
#form_div
{
	margin-top:70px;
	margin-left:5%;
}
#roll
{
	height:35px;
	width:42%;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#name
{
	height:35px;
	width:42%;
	border-radius:3px;
	margin-left:47%;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#mail
{
	height:35px;
	width:63%;
	margin-top:45px;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#profile
{
	height:35px;
	width:21%;
	margin-top:45px;	
	margin-left:68%;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#pass
{
	height:35px;
	width:42%;
	margin-top:90px;	
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#confirm
{
	height:35px;
	width:42%;
	margin-top:70px;
	margin-left:47%;	
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#dial
{
	height:35px;
	width:17%;
	margin-top:119px;	
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#phone
{
	height:35px;
	width:42%;
	margin-top:119px;	
	margin-left:22%;
	border-radius:3px;
	padding: 10px;
	background-color:#e5e7e9;
	border:none;
	position:absolute;
}
#submit_stdreg
{
	height:40px;
	width:24%;
	border-radius:3px;
	border:none;
	font-weight:bold;
	color:white;
	background-color:#e74c3c;
	margin-top:150px;
	position:absolute;
}
#login_account
{
	margin-top:120px;
	margin-left:30%;
	position:absolute;
}